{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css'%}">
</head>
<body>
<header>
        <span class="logo">Корот.ко</span>
        <div class="header-btn">
        <ul>
            <li><a href="{% url 'home' %}">Головна</a></li>
            <li><a href="{% url 'kontakty' %}">Про нас</a></li>
        </ul>
        </div>
    </header>
        <div class="under-header-btn">
            {% if not user.is_authenticated %}
            <ul>
            <li><a href="{% url 'reg' %}">Реєстрація</a></li>
            <li><a href="{% url 'user' %}">Увійти</a></li>
            {% else %}
            <li><a href="{% url 'profile' %}">Профіль</a></li>
            <li><a href="{% url 'exit' %}">Вийти</a></li>
            <li><a href="{% url 'links:shorten_url' %}">Посилання</a></li>
        </ul>
         {% endif %}
    </div>
 {% if messages %}
  {% for mess in messages %}
     <div class="infa">{{ mess }}</div>
    {% endfor %}
 {% endif %}
<div class="wrapper">
  {% block main %}
   {% endblock %}
</div>
<footer>
    <h3>Усі права захищені!</h3>
</footer>
</body>
</html>