{% extends 'main/base.html' %}

{% block title%}
Головна сторінка
{% endblock %}

 {% block main %}
 <div class="main-text">
 <h1>Роби короткі посилання!:)</h1>
  <h3>Забудь про нудні та довгі посилання!</h3>
 </div>
<a href="{% url 'reg' %}" class="main-button">
 <span class="button__line button__line--top"></span>
 <span class="button__line button__line--bottom"></span>
 <span class="button__line button__line--right"></span>
 <span class="button__line button__line--left"></span>
 До роботи
</a>
   {% endblock %}