{% extends 'main/base.html' %}

{% block title%}
Сторінка про нас
{% endblock %}

 {% block main %}
<div class="text-1">
 <h1>Що ми гарантуемо:</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusandae qui, labore quaerat iure commodi dicta.
 Borem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusan!
 </p>
</div>
<div class="text-2">
 <h1>Ми допоможемо:</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusandae qui, labore quaerat iure commodi dicta.
 Borem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusan!
 </p>
</div>
<div class="text-3">
 <h1>Ми впевнені:</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusandae qui, labore quaerat iure commodi dicta.
 Borem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusan!
 </p>
</div>
<div class="text-4">
 <h1>Ми вже давно тут:)</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusandae qui, labore quaerat iure commodi dicta.
 Borem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quae eos quibusdam a? Numquam, quis dolore quisquam, in eos temporibus recusan!
 </p>
</div>
    {% endblock %}