{% extends 'main/base.html' %}

{% block title%}
Укорочення посилань
{% endblock %}


{% block main %}
<form class="form-short-link"method="post" action="{% url 'links:shorten_url' %}">
    {% csrf_token %}
    <input type="text" name="original_url" placeholder="Введіть посилання">
    <a href="{% url 'links:shorten_url' %}" class="link-button">
         <span class="button__line button__line--top"></span>
         <span class="button__line button__line--bottom"></span>
         <span class="button__line button__line--right"></span>
         <span class="button__line button__line--left"></span>
         Скоротити посиланя</a>
</form>
 {% if links %}
    <h2>Укороченные ссылки:</h2>
    <ul>
        {% for link in links %}
            <li><a href="{{ link.shortened_url }}">{{ link.shortened_url }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}